<form id="newUserForm" enctype="application/json" action="/user" method="post">
      Nombres <input type="text" name="name"><br>
      Usuario <input type="text" name="user_id"><br>
      Contraseña: <input type="password" name="password"><br>
      Verificar contraseña: <input type="password" name="password_verify"><br>
     <input type="submit" value="New User">
</form>