<div id="svf-canvas" width="1200px" height="1000px">
    <ul class="custom-menu">
      <li data-action="dhcp" class="new-node">DHCP server</li>
      <li data-action="ap" class="new-node">Access point</li>
      <li data-action="internet" class="new-node">Internet</li>
      <li data-action="router" class="new-node">Router</li>
      <li data-action="switch" class="new-node">Switch</li>
      <li data-action="captive" class="new-node">Captive portal</li>
      <li data-action="radius" class="new-node">RADIUS Server</li>
      <li data-action="wireless-link" class="new-node">Wireless link</li>
      <li data-action="vap" class="new-node">Virtual Access Point</li>
      <li data-action="_aux_" class="new-node">Aux (multiple links)</li>
      <li data-action="new-link" id="new-link">Link selected nodes</li>
<!--      <li data-action="edit-node" id="edit-node">Edit selected node</li>
-->      <li data-action="delete-nodes" class="warning">Detelete selected nodes</li>
      <li data-action="delete-link" class="warning">Detelete links between selected nodes</li>
    </ul>
</div>     
