<!DOCTYPE html>
<html>

<head>
    <title> NetEval</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/small-business.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/lang.sp.js"></script>
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="/img/router.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h2><strong>NetEval:</strong> Herramienta para diseño y evaluación de redes inalámbricas</h2>
                <p> En los siguientes ejercicos se te planteará que crees redes de acuerdo a unos requisitos. Podrás verificar automáticamente si tu red cumple los requisitos y obtener una puntuación. </p>
                <p> Los resultados que envíes serán almancenados en servidor. No obstante, debes guarte una solución de cada problema </p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <h2>Ejercicios de la Práctica 4.3. Diseño de red</h2>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Ejercicio 1. Puntos de acceso virtuales</h2>
                <p>En este ejercicio se usará un punto de acceso físico para crear dos redes virtuales  </p>
                <a class="btn btn-primary btn-lg" href="/challenges/challenge1" target="_blank">Vamos!</a>
            </div>            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Fernando Losilla 2016</p>
                </div>
            </div>
        </footer>

    </div>

    <!--    <div>
        <a href="http://www.w3schools.com" target="_blank"> </a>
        
    </div>
-->
    <footer>
        <p>Fernando Losilla. 2016</p>
    </footer>
</body>

</html>